.Weather #weather-description {
  line-height: 1.2;
  margin-top: 70px;
  font-size: 24px;
}
.Weather .fullTemp {
  text-align: center;
}
.WeatherTemperature #current-temp {
  vertical-align: top;
  font-size: 75px;
}
.WeatherTemperature .degrees {
  display: inline-block;
  font-size: 20px;
  padding-top: 15px;
}
.WeatherTemperature .celsius {
  color: #0c1db8;
}
.WeatherTemperature .fahrenheit {
  color: white;
}
.WeatherTemperature #fahrenheit-button,
.WeatherTemperature #celsius-button {
  font-weight: bolder;
  text-decoration: none;
  background: none;
  border: none;
}
.Weather #current-weather {
  font-weight: bolder;
  text-align: left;
}
.Weather #current-weather:first-letter {
  text-transform: capitalize;
}
.Weather #current-emoji {
  font-size: 75px;
}
.Weather .humidity {
  font-size: 15px;
  padding: 10px 0 5px 0;
  text-align: left;
}
.Weather .wind {
  font-size: 15px;
  padding: 5px 0 5px 0;
  text-align: left;
}
.Weather .highLow {
  font-size: 15px;
  padding-top: 5px;
  text-align: left;
}
